<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="Age" content="86400" >
    <meta http-equiv="Content-Encoding" content=”gzip” />
    <%
    var title = page.title;

    if (is_archive()) {
        title = 'Archives';

        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = 'Category: ' + page.category;
    } else if (is_tag()) {
        title = 'Tag: ' + page.tag;
    }
    %>
    <title>
        <% if (title){ %>
        <%= title %> |
        <% } %>
        <%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%- open_graph({
        twitter_id: theme.twitter,
        google_plus: theme.google_plus,
        fb_admins: theme.fb_admins,
        fb_app_id: theme.fb_app_id
    }) %>
    <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <%- css('css/style') %>
    <%- partial('google-analytics') %>

    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/custom/bootstrap.min.css">
    <!-- web font  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css"/>
    <link type="text/css" rel="stylesheet" href="/css/isotype_style.css">
    <link rel="stylesheet" type="text/css" href="/css/flexslider.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pageslide/jquery.pageslide.css"/>
    <!-- Owl carousel-->
    <link rel="stylesheet" href="/owl.carousel/owl.carousel.css">
    <link rel="stylesheet" href="/owl.carousel/owl.theme.css">
    <link rel="stylesheet" href="/owl.carousel/owl.transitions.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.css"/>
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="/css/layout.css">
    <link type="text/css" id="colors" rel="stylesheet" href="/css/colors.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

</head>